@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primary-orange: hsl(25, 97%, 53%);
  --white: hsl(217, 12%, 63%);
  --gray: hsl(216, 12%, 54%);
  --blue: hsl(213, 19%, 18%);
  --dark-blue: hsl(216, 12%, 8%);
  --overpass-family: "Overpass", sans-serif;
}
